body{
    background-color: #000;
    font-family: sans-serif;
}
h1 p, ::selection{
    color: #fff;
    background-color: red;
}

.container{
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    position: fixed;
    z-index: 100;
    background-color: #0000008f;
    width: 100%;
    left: 0;
}

nav ul {
    display: flex;
    align-content: center;
    flex: 1;
    gap: 24px;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    padding: 5px 0;
    border-bottom: 2px solid #fff;
}

input, button, select{
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 8px 10px;
    font-size: 16px;
}


input{
    background-color: #00000000;
    border: 1px solid #fff;
    color: #fff;
    margin: 0 100px;

}
input::placeholder{
    color: #fff;
}

.hewader__nav{
    background-color: #00000057;
}

header{
    position: relative;

}

.hero__wrapper{
    position: relative;
    width: 100%;
    height: 850px;
}

.buttons{
    position: absolute;
    top: 400px;
    z-index: 10;
    left: 100px;
}

.btn{
    padding: 10px 30px;
    border-radius: 8px;
    margin-left: 30px;
    color: #000;
    font-weight: 700;
    transition: .3s;
}

.btn:hover{
    background-color: orangered;
    color: #fff;
}

.btn:active{
    transform: scale(.9);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main{
    position: relative;
    z-index: 10;
    padding: 20px;

}
main h2 {
    position: absolute;
    color: #fff;
    margin-top: -50px;
    font-size: 1.75rem;
    margin-left: 15px;
}

.cards{
    display: flex;
    width: 100%;
    margin-top: -200px;
    overflow-x: auto;
    gap: 20px;
}
.cards::-webkit-scrollbar{
    -webkit-appearance: none;
}

.cards img{
    width: 200px;
    height: 300px;
}
.cards .swiper-slide{
    width: 230px;
    object-fit: 100%;
}

.cards h3{
    position: absolute;
    color: #fff;
    bottom: 15px;
    padding: 0 20px;
    display: none;
}
/*  */

.cards2 h3{
    position: absolute;
    color: #fff;
    bottom: 50px;
    /* padding: 0 20px; */
    z-index: 100;
    max-width: 250px;
}
.cards2{
    display: flex;
    width: 100%;
    overflow-x: auto;
    position: relative;
    gap: 20px;
}
.cards2::-webkit-scrollbar{
    -webkit-appearance: none;
}

.cards2 img{
    width: 400px;
    height: 300px;
    object-fit: contain;
}
.cards2 .swiper-slide{
    width: 420px;
    object-fit: 100%;
}

.wrapper{
    padding: 40px;
    height: 500px;
    margin-bottom: 30px;
}

.wrapper img{
    width: 50%;
    height: 500px;
}

.wrapper .div1{
    display: flex;
    gap: 10px;
    color: #fff;
}

.div2{
    padding: 50px;
    width: 50%;
}

.b-name{
    position: absolute;
    z-index: 5;
    color: #fff;
    top: 250px;
    font-family: "Inspiration", sans-serif;
    font-size: 150px;
    font-weight: 400;
    line-height: 77px;
    left: 50px;
}
.main-cards .cards{
    margin-top: 50px;
}

footer{
    padding: 50px 30px;
    border-top: 3px solid grey;
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-size: 20px;
    line-height: 26px;
}

footer ul:first-child :last-child{
    max-width: 370px;
    margin-top: 30px;

}

footer ul:last-child{
    max-width: 380px;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    transition: all .3s ease;
}

footer ul li a:hover{
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}

@media only screen and (max-width: 1220px){
    nav{
        gap: 20px;
        padding: 20px;
    }
    nav ul{
        gap: 16px;
    }
    #select{
        margin-right: -100px;
    }
    .b-name{
        font-size: 3.75rem;
        top: 150px;
    }
    .buttons{
        top: 240px;
        left: 50px;
    }
}

@media only screen and (max-width: 1140px){
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav ul {
        display: none;
    }
    .hero__wrapper{
        height: 600px;
    }
    .buttons{
        top: 240px;
        left: 50px;
    }
    .cards{
        margin-left: -15px;
    }
    footer ul:last-child{
        display: none;
    }
    .div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div2{
        width: 100%;
    }
    .wrapper img{
        width: 100%;
    }
    .wrapper{
        margin-bottom: 500px;
    }
}
@media only screen and (max-width: 600px){
    nav{
        padding: 5px;
    }
    input{
        display: none;
    }
    #select{
        display: none;
    }
    .b-name{
        font-size: 2.75rem;
        top: 100px;
    }
    .buttons{
        top: 180px;
        left: 50px;
    }
    .btn{
        padding: 10px 15px;
        font-size: 12px;
    }
    main{
        margin-top: 0;
    }
    .cards{
        margin-left: 0;
    }
    .cards img{
        width: 150px;
        height: 200px;
    }
    .cards .swiper-slide{
        width: 160px;
    }
    .cards2 .swiper-slide{
        width: 300px;

    }
    .cards2 img{
        width: 300px;
        height: 200px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer ul{
        padding: 20px 0;
    }
    footer ul:nth-child(2){
       display: none;
    }
    .div1 img{
        height: 300px;
    }
    main{
        margin-top: -200px;
    }
}

@media only screen and (max-width: 440px){
    nav img{
        display: none;
    }
    .mh2{
        font-size: 16px;
    }
    .b-name{
        font-size: 2rem;
        top: 80px;
    }
    .buttons{
        display: none;
    }
    main{
        margin-top: -100px;
    }
}